.DS_Store
Thumbs.db
__pycache__/
*.py[cod]
*$py.class
.vscode/
.idea/

*.zip
*.tar.gz
*.rar
mujoco_sim/backup/

cpp_sim/build/
cpp_sim/logs/
*.o
*.so
*.out
*.exe

hydro_MLP/logs/
hydro_MLP/models/
# hydro_MLP/data/  

mujoco_sim/outputs/
mujoco_sim/logs/
wandb/
tb_logs/

*.pth
*.pt
*.pkl
*.onnx
*.log

hydro_MLP/data/
*.csv

docs/
